PORT=4000
# production | development | stage | localhost | test
NODE_ENV=development

POSTGRES_USER=ciel
POSTGRES_PASSWORD=system
POSTGRES_DB=system-dev
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public

# Минимум 16 символов (см. ENV_SCHEMA)
JWT_SECRET=korochki-dev-jwt-secret-key